* {
    box-sizing: border-box;
    padding: auto;
    margin: auto;
    background-color: brown;
}

h1 {
    background-color: blueviolet;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

input {
    padding: 20px 40px;
    border: none;
    font-size: 20px;
    font-family: sans-serif;
    color: gray;
}

button {
    padding: 20px 40px;
    font-size: 24px;
    font-weight: 500;
    font-family: sans-serif;
    border: none;
    border-radius: 25px;
    background-color: deepskyblue;
    color: #fff;
}