* {
    background-color: teal;
    padding: 0 9%;
    margin: 0;
    box-sizing: border-box;
}

.header {
    border: 1px solid black;
    justify-content: center;
    
}

.header h1 {
    background-color: brown;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #fff;
}

.header .text {
    text-align: center;
    margin-top: 20px;
}

.header .text input {
    padding: 10px 8px;
    border: none;
    background-color: #fff;
    font-size: 15px;
    font-family: sans-serif;
}

.header .text button {
    padding-right: 10px;
}